.certificate-container {
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.certificate-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding-top: 50px;
    font-size: 2.5rem;
    margin-top: 80px;
}

.certificate-container span {
    color: #59b2f4;
}

.certificates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.certificates img{
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 300px;
    margin: 0.7rem;
    border-radius: 10px;
    border: 2px solid #b08204;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.1s ease-in;
}

.certificates img:hover{
    border: 4px solid #b08204;
}